// ======About styling====
table.table-about {
    border-collapse: collapse;
    margin-block-start: 5px;
}
table.table-about td {
    padding-inline-end: 1em;
    /* border: 1px solid #393939; */
    /* border-collapse: collapse; */
}
table.table-about tr td:first-child {
    /* color: red; */
    font-weight: 500;
    //font-family: var(--font-condensed);
    text-transform: uppercase;
}

//=== Changelog styling ===
dl.changelog dt {
    font-weight: bold;
    font-size: 90%;
}
dl.changelog dd {
    //font-family: var(--font-condensed);
    font-size: 90%;
    //font-variation-settings: "wdth" 35;   
    font-stretch: ultra-condensed;
    margin-block: 0.2rem;
    margin-inline-start: 1rem;    
}
dl.changelog {
    /* border-inline-start: 2px solid rgb(26 26 26); */
    /* padding-inline-start: 15px; */
    margin-inline-start: 12px;
}

ul.changelog li li, ol.changelog li {
    font-size: 90%;
    font-stretch: ultra-condensed;
   // font-family: var(--font-condensed);
    //font-variation-settings: "wdth" 35;
}
.changelog-old{
    font-size: 90%;
    font-stretch: ultra-condensed;
    //font-family: var(--font-condensed);
    //font-variation-settings: "wdth" 35;
}