:root {
    --main-font-size: 19px;

    --body-bg-color: white;
    --body-font-color: #244e78; // Important ;#4e4e4e
    --main-color:rgb(207 63 63);
    --link-color: rgb(99, 131, 189);    //#5480d0;//#d05454;

    --font-main: "Roboto Flex Regular", "Arial", "Acumin Pro SemiCondensed";    //--font: condensed 20px "Roboto Flex Regular", "Arial", "Acumin Pro Condensed";

    --section-padding-inline: 1.5rem;
    --section-padding-block: 1rem;

    --header-color: rgb(105, 124, 117);
    --header-color: rgb(37, 136, 99);
    --header-color: rgb(219 122 58);
    --header-color: var(--body-font-color);

    // Multi coloured nav header title
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;

    // Multi coloured nav hr
    --col-1: rgba(255, 99, 71, 1);      // Tomato red
    --col-2: rgba(255, 178, 62, 1);     // Light orange
    --col-3: rgba(255, 215, 89, 1);     // Sunflower yellow
    --col-4: rgba(129, 199, 132, 1);    // Mint green
    --col-5: rgba(108, 141, 224);    // Light blue
    --col-6: rgba(178, 146, 206);    // Soft purple
    --col-7: rgba(211, 97, 199);     // Rose pink
    --col-8: rgba(255, 182, 193, 1);    // Light pink

    // --- Unused ----
    --body-color: #ffffff;
    --link-color:#5480d0;//#d05454;

    --title-header-background-color: #ffeee100;

    --nav-link-color: var(--main-color);
    --header-title-color: var(--main-color);
    --nav-separator-color:#7eb9da;//#52829e;

    --h-colors: var(--main-color);
    --hr-color: #454444;

    /*
    --color-1: var(--header-title-color);
    --color-2: var(--color-1);
    --color-3: var(--color-1);
    --color-4: var(--color-1);
    --color-5: var(--color-1);
    */

}

@media screen and (min-width:600px){
    :root {
        --section-padding-inline: 5rem;
        --section-padding-block: 0;
    }
}
@media screen and (min-width:900px){
    :root {
        --section-padding-inline: 10rem;
        --section-padding-block: 0;

    }
}


/*

    green for header colors: rgb(37, 136, 99)
*/