<div class="lightbox" data-open="false">
  <div class="lightbox__content">
    <img src="{{ image }}" alt="{{ altText }}">
    <button class="lightbox__close" data-close>Close</button>
  </div>
</div>