<nav>
    <a href="/">Home</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Blog">Blog</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Media">Media</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Web">Web</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Notes">Notes</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Software">Soft</a>
</nav>
