<nav>
    <a href="/">Home</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Hub">Hub</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Blog">Blog</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Blog">Media</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Blog">Soft</a>
        <span class="nav-link-divider"> / </span>
    <a href="/Blog">Notes</a>
</nav>
