:root {
    --main-font-size: 20px;
    --font-main: "Roboto Flex Regular", "Arial", "Acumin Pro SemiCondensed";
    //--font: condensed 20px "Roboto Flex Regular", "Arial", "Acumin Pro Condensed";
    --section-padding-inline: 1.5rem;
    --section-padding-block: 1rem;
    --main-color:rgb(207 63 63);

    // Multi coloured nav header title
    --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;

    // Multi coloured nav hr
    /* --col-1: #c4e17f;
    --col-2: #81c7af;
    --col-3: #fad071;
    --col-4: #f0766b;
    --col-5: #db9dbe;
    --col-6: #c49cdf;
    --col-7: #6599e2;
    --col-8: #61c2e4; */
    --col-1: #f49191;
    --col-2: #ffba60;
    --col-3: #f8e975;
    --col-4: #a3dca3;
    --col-5: #aaaad4;
    --col-6: #c08be6;
    --col-7: #d27cd2;
    --col-8: #9c5ddc; 

    // Unused
    --body-color: #ffffff;
    --link-color:#5480d0;//#d05454;

    --title-header-background-color: #ffeee100;

    --nav-link-color: var(--main-color);
    --header-title-color: var(--main-color);
    --nav-separator-color:#7eb9da;//#52829e;

    --h-colors: var(--main-color);
    --hr-color: #454444;

    /*
    --color-1: var(--header-title-color);
    --color-2: var(--color-1);
    --color-3: var(--color-1);
    --color-4: var(--color-1);
    --color-5: var(--color-1);
    */

}

@media screen and (min-width:600px){
    :root {
        --section-padding-inline: 5rem;
        --section-padding-block: 0;
    }
}
@media screen and (min-width:900px){
    :root {
        --section-padding-inline: 10rem;
        --section-padding-block: 0;

    }
}
