---
title: Hub Links
url: /Hub/Links/
templateEngine: [vto, md]

layout: layouts/hublayout.vto

---

{{ comp.hublist({text: title, hubtag: "links"}) }}

{{#
# Notes
<ul>
  {{ for page of search.pages("category=links") }}
  <li> <a href={{page.url}}> {{ page.title }} </a></li>
  {{ /for }}
</ul>



#}}