---
title: Blog
url: /blog/
templateEngine: [vto, md]

---

<div class="blog-list">
  <ul>
    {{- for page of search.pages("blog", "date=desc") -}}
    <li> 
      <a href={{page.url}}> {{ page.title }} </a>
      <time class="blog-list-date">{{page.date |> date('HUMAN_DATE')}}</time>
    </li>
    {{- /for -}}
  </ul>
</div>