---
title: Media
templateEngine: [vto, md]
url: /media/
---

<!-- # Media -->

<!-- <hr class="line"> -->

{{ comp.hublist({text: "Photos", hubtag: "photos"}) }}

<hr class="line">

{{ comp.hublist({text: "Music", hubtag: "music"}) }}


{{#
<style scoped>
    li{
        list-style-image: url(/static/hub/photosicon.svg);    
    }

    .size-6 {
    color: red;
    width: 44px;
}
</style>
#}}