---
title: Notes
templateEngine: [vto, md]
url: /notes/
---

# Notes
[Changelog](/notes/changes) : A list of changes made to the website.

[Now](/notes/now/) : A list of things I'm currently doing.

[About](/notes/about/) : A little about me.

{{# {{ comp.hublist({text: title, hubtag: "notes"}) }} #}}

{{# <ul>
  {{ for page of search.pages("notes") }}
  <li> <a href={{page.url}}> {{ page.title }} </a></li>
  {{ /for }}
</ul>
#}}

