<!DOCTYPE html>
<html lang="en">

{{ include "partials/head.vto" }}

<body>
    <header>
      <div class="header-text">
        <h1 class="title-header"><a href="/"><span>Arky's</span> <span>Corner</span></a></h1>
        <div class="header-pic"> <img src="/static/greyrabbit.svg" alt=""/> </div>
      </div>
        <hr class="header-hr">

    </header>
    {{include "partials/nav.vto"}}

    <hr/>
  <main>
    {{ content }}
  </main>
</body>
</html>