<!DOCTYPE html>
<html lang="en">

{{ include "partials/head.vto" }}

<body>
    <header>
      <div class="header-text">
        <h1 class="title-header"><a href="/"><span>Arky's</span> <span>Corner</span></a></h1>
        <div class="header-pic"> <img src="/static/greyrabbit.svg" alt=""/> </div>
      </div>
    </header>
   <hr> 
   
    {{include "partials/nav.vto"}}

    <hr> 
  <main>
    {{ content }}
  </main>

 <footer>
<hr/>
    <p>Website made by Arky using <a href="https://lume.land">lume</a></p>
 
    <a href="mailto:aerxilyng@protonmail.com" class="email-link">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="indianred" stroke-width="2">
        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
        <polyline points="22,6 12,13 2,6"/>
      </svg>
    </a>

  </footer>

  <script>
document.addEventListener("DOMContentLoaded", () => {
  const links = document.querySelectorAll("nav a");
  const currentPath = window.location.pathname;
    
  links.forEach(link => {
    const linkPath = new URL(link.href).pathname;
    // Home page - must be exact match
    if (linkPath === "/" && currentPath === "/") {
      link.classList.add("active");
      return;
    }

    // Other pages
    if (currentPath.startsWith(linkPath) && linkPath !== "/") {
      link.classList.add("active");
    }
    console.log("link : ", link);
    console.log("link.href : ", link.href);
    console.log(linkPath, currentPath);
    console.log("link.classList : ", link.classList);

  });
});
  </script>

</body>
</html>