<nav>
    <a href="/">Home</a>
        <span class="nav-link-divider"> / </span>
    <a href="/blog">Blog</a>
        <span class="nav-link-divider"> / </span>
    <a href="/media">Media</a>
        <span class="nav-link-divider"> / </span>
    <a href="/web">Web</a>
        <span class="nav-link-divider"> / </span>
    <a href="/notes">Notes</a>
        <span class="nav-link-divider"> / </span>
    <a href="/software">Soft</a>
</nav>
